<h1>Signup</h1>

<form action="/signup" method="post">
  <label>Email</label><br>
  <input type="email" name="email"><br>
  <label>Password</label><br>
  <input type="password" name="password">
  <input type="submit">
  <p><input type="text" value="Create User"></p>
</form>
Collapse
